.btn-group button.fake-last{
    border-top-right-radius:    4px !important;
    border-bottom-right-radius: 4px !important;
}

.btn-group button.fake-first{
    border-top-left-radius:    4px !important;
    border-bottom-left-radius: 4px !important;
}