@mixin commentIcon() {
	width: auto;
	margin-top: 8px;

	.count {
		align-self: center;
	    margin-top: -18px;
	    margin-right: 2px;
	    color: #fff;
	    font-size: 11px;
	    font-weight: bold;
	}
}