@import '_overflow-shadows.scss';
@import '_comment.scss';
@import '_variables.scss';
@import '_btn-group.scss';

h1 {
	text-align: center;
	margin-bottom: 20px;
}

#viewChoiceContainer {
	position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: fit-content;

    ul {
    	li {
    		&:hover {
    			cursor: pointer;
    			background-color: $grey;
    			color:$black;
    		}
    	}
    }
}

#assignmentContainer {
	&.ajr-grid {
		display: flex;
		flex-flow: wrap;
		justify-content: flex-start;

		.household {
			border-bottom: 1px solid $grey;
			padding-bottom: 10px;
			margin-bottom: 30px;
			width: 31%;
			margin-right: 2%;
			text-align: center;

			.householdName {
				margin-bottom: 0;
			}

			.status {
				margin-top: 0;
				margin-bottom: 10px;
				text-transform: capitalize;
			}

			&.proposed {
				.resetStatus {
					display: none;
				}
			}

			&.approved {
				.householdName, .status {
					color:$green;
				}

				.acceptAssignment {
					display: none;
				}
			}

			&.rejected {
				.householdName, .status {
					color:$red;
				}

				.rejectAssignment {
					display: none;
				}
			}

			.assignedContainer {
				margin-bottom: 10px;

				p {
					margin-bottom: 5px;
				}
			}

			.approvalBtns {
				margin-bottom: 10px;
			}

			.feedbackContainer {
				margin: 10px auto 10px;

				.allComments {
					max-height: 250px;
					overflow: auto;
					width: 90%;
					margin: 0 auto;
					@include overflowShadows($black);

					.ministeringComment {
						@include comment;
					}

				}
			}
		}
	}

	&.ajr-list {
		display: flex;
		flex-flow: wrap;
		justify-content: flex-start;

		.household {
			border-bottom: 1px solid $grey;
			padding-bottom: 10px;
			margin-bottom: 30px;
			width: 100%;
			display: flex;

			.householdName {
				margin-bottom: 0;
			}

			.status {
				margin-top: 0;
				margin-bottom: 10px;
				text-transform: capitalize;
			}

			&.proposed {
				.resetStatus {
					display: none;
				}
			}

			&.approved {
				.householdName, .status {
					color:$green;
				}

				.acceptAssignment {
					display: none;
				}
			}

			&.rejected {
				.householdName, .status {
					color:$red;
				}

				.rejectAssignment {
					display: none;
				}
			}

			.assignedContainer {
				margin-bottom: 10px;

				p {
					margin-bottom: 5px;
				}
			}

			.approvalBtns {
				margin-bottom: 10px;
			}

			.infoContainer {
				width: 51%;
				margin-right: 2%;
				display: flex;
				justify-content: space-between;

				.assignedApprovalContainer {
					padding-top: 40px;
				}
			}

			.feedbackContainer {
				padding-top: 40px;
				width: fit-content;
				max-width: 47%;

				.allComments {
					margin: 0 0 10px;
					max-height: 250px;
					overflow: auto;
					@include overflowShadows($black);

					.ministeringComment {
						@include comment;
					}
				}
			}
		}
	}
}

@media (max-width:767px) {
	#viewChoiceContainer {
		display: none;
	}

	#assignmentContainer {
		&.ajr-grid, 
		&.ajr-list {
			width: 100%;
			
			.household {
				width: 100%;
				flex-direction: column;

				.approvalBtns {
					width: 100%;

					btn {
						padding: .75rem 1rem;
					}
				}

				.infoContainer {
					flex-direction: column;
					width: 100%;
			
					.assignedApprovalContainer {
						padding-top: 10px;
					}
				}

				.feedbackContainer {
					width: 100%;
					padding-top: 10px;
				}
			}
		}
	}
}