#households {
    flex-wrap: wrap;

    .household {
        width: 100%;

        .individual {
            margin-left: 20px;
        }
    }
}


#activeHousehold {
    display: grid;
    grid-template-columns: 2fr 3fr 6fr 7fr;
    grid-gap: 50px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;

    #assignedToVisitContainer {
        .removeAssigned {
            margin-left: 10px;
        }
    }

    #ministeringInfo {
        .removeVisiting {
            font-size: 14px;
        }
    }

    #householdComments {
        .nav-tabs {
            .nav-item {
                text-align: center;
                margin-right: 0;
                margin-left: 0;

                .nav-link {
                    width: 100%;
                    padding: .5rem;

                    &.active {
                        background-color:#666;
                        color:#fff;
                    }
                }
            }
        }

        #view {
            #commentsContainer {
                height: 150px;
                overflow: auto;

                .houseComment {
                    margin-bottom: 10px;

                    author {
                        font-size: 12px;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

#allHouseholdsTable {
    tr.community .color {
        background-color: #5325be;
        width: 3px;
        color: #fff;
    }

    tr.approval .color {
        background-color: #25be32;
        width: 3px;
        color: #000;
    }

    tr.single-man .color {
        background-color: #5c7dca;
        width: 3px;
        color: #fff;
    }

    tr.single-woman .color {
        background-color: #Ca5cca;
        width: 3px;
        color: #000;
    }
}

#assignHouseholdContainer {
    flex-grow: 3;

    .removeAssigned {
        margin-left: 5px;
    }
}

#activeClose {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.bi-x-circle {
    cursor: pointer;
}

@media (max-width:767px) {
    #activeHousehold {
        grid-template-columns: 100%;
        grid-gap: 5px;

        & > div {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        #householdInfo {
            order: 1;
            display: flex;
            align-items: baseline;
        }

        #householdInfo > * {
            margin-right: 10px;
        }

        #assignHouseholdContainer {
            order: 2;
            margin-bottom: 0;
            margin-top: 0;
        }

        #ministeringInfo {
            order: 3;
        }

        #householdComments {
            order: 4;
        }
    }
}