@import '_overflow-shadows.scss';
@import '_comment.scss';
@import '_variables.scss';

#households {
    flex-wrap: wrap;

    .household {
        width: 100%;

        .individual {
            margin-left: 20px;
        }
    }
}

table.dataTable.table-sm .sorting:after, 
table.dataTable.table-sm .sorting_asc:after, 
table.dataTable.table-sm .sorting_desc:after {
    top: 16px;
}

table.dataTable.table-sm .sorting:before, 
table.dataTable.table-sm .sorting_asc:before, 
table.dataTable.table-sm .sorting_desc:before {
    top: 13px;
    right: 1.15em;
}


#activeHousehold {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    grid-gap: 50px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;

    #assignedToVisitContainer {
        .minToHouse {
            margin-bottom: 5px;
        }

        .removeAssigned {
            margin-left: 10px;
        }
    }

    #ministeringInfo {
        h3 {
            margin-bottom: 10px;
        }

        .removeVisiting {
            font-size: 14px;
        }
    }

    #householdComments {
        .nav-tabs {
            .nav-item {
                text-align: center;
                margin-right: 0;
                margin-left: 0;

                .nav-link {
                    width: 100%;
                    padding: .5rem;

                    &.active {
                        background-color:#666;
                        color:#fff;
                    }
                }
            }
        }

        #view {
            padding-top: 10px;
            
            #commentsContainer {
                height: 150px;
                overflow: auto;
                @include overflowShadows($black);

                .houseComment {
                    @include comment;
                }
            }
        }
    }
}

#allHouseholdsTable {
    tr.community .color {
        background-color: #5325be;
        width: 3px;
        color: #fff;
    }

    tr.approval .color {
        background-color: #25be32;
        width: 3px;
        color: #000;
    }

    tr.single-man .color {
        background-color: #5c7dca;
        width: 3px;
        color: #fff;
    }

    tr.single-woman .color {
        background-color: #Ca5cca;
        width: 3px;
        color: #000;
    }
}

#assignHouseholdContainer {
    width: 100%;
    margin: 10px 0 5px;

    .removeAssigned {
        margin-left: 5px;
    }
}

#activeClose {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.bi-x-circle {
    cursor: pointer;
}

@media (max-width:767px) {
    #activeHousehold {
        grid-template-columns: 100%;
        grid-gap: 5px;

        & > div {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        #householdInfo {
            order: 1;
            display: flex;
            align-items: baseline;
        }

        #householdInfo > * {
            margin-right: 10px;
        }

        #assignHouseholdContainer {
            margin-bottom: 0;
            margin-top: 0;
        }

        #ministeringInfo {
            order: 2;
        }

        #householdComments {
            order: 3;
        }
    }
}