.btn-group button.fake-last {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.btn-group button.fake-first {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#viewChoiceContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#viewChoiceContainer ul li:hover {
  cursor: pointer;
  background-color: #b5b5b5;
  color: #000000;
}

#assignmentContainer.ajr-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}
#assignmentContainer.ajr-grid .household {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-bottom: 30px;
  width: 31%;
  margin-right: 2%;
  text-align: center;
}
#assignmentContainer.ajr-grid .household .householdName {
  margin-bottom: 0;
}
#assignmentContainer.ajr-grid .household .status {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
}
#assignmentContainer.ajr-grid .household.proposed .resetStatus {
  display: none;
}
#assignmentContainer.ajr-grid .household.approved .householdName, #assignmentContainer.ajr-grid .household.approved .status {
  color: #38c172;
}
#assignmentContainer.ajr-grid .household.approved .acceptAssignment {
  display: none;
}
#assignmentContainer.ajr-grid .household.rejected .householdName, #assignmentContainer.ajr-grid .household.rejected .status {
  color: #e3342f;
}
#assignmentContainer.ajr-grid .household.rejected .rejectAssignment {
  display: none;
}
#assignmentContainer.ajr-grid .household .assignedContainer {
  margin-bottom: 10px;
}
#assignmentContainer.ajr-grid .household .assignedContainer p {
  margin-bottom: 5px;
}
#assignmentContainer.ajr-grid .household .approvalBtns {
  margin-bottom: 10px;
}
#assignmentContainer.ajr-grid .household .allComments {
  margin: 10px auto 10px;
  max-height: 250px;
  overflow: auto;
  width: 90%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
#assignmentContainer.ajr-grid .household .allComments .ministeringComment {
  margin-bottom: 10px;
}
#assignmentContainer.ajr-grid .household .allComments .ministeringComment author {
  font-size: 12px;
  font-style: italic;
}
#assignmentContainer.ajr-list {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}
#assignmentContainer.ajr-list .household {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
}
#assignmentContainer.ajr-list .household .householdName {
  margin-bottom: 0;
}
#assignmentContainer.ajr-list .household .status {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
}
#assignmentContainer.ajr-list .household.proposed .resetStatus {
  display: none;
}
#assignmentContainer.ajr-list .household.approved .householdName, #assignmentContainer.ajr-list .household.approved .status {
  color: #38c172;
}
#assignmentContainer.ajr-list .household.approved .acceptAssignment {
  display: none;
}
#assignmentContainer.ajr-list .household.rejected .householdName, #assignmentContainer.ajr-list .household.rejected .status {
  color: #e3342f;
}
#assignmentContainer.ajr-list .household.rejected .rejectAssignment {
  display: none;
}
#assignmentContainer.ajr-list .household .assignedContainer {
  margin-bottom: 10px;
}
#assignmentContainer.ajr-list .household .assignedContainer p {
  margin-bottom: 5px;
}
#assignmentContainer.ajr-list .household .approvalBtns {
  margin-bottom: 10px;
}
#assignmentContainer.ajr-list .household .infoContainer {
  width: 51%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
}
#assignmentContainer.ajr-list .household .infoContainer .assignedApprovalContainer {
  padding-top: 40px;
}
#assignmentContainer.ajr-list .household .allComments {
  padding-top: 40px;
  margin: 0 0 10px;
  max-height: 250px;
  overflow: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 47%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
#assignmentContainer.ajr-list .household .allComments .ministeringComment {
  margin-bottom: 10px;
}
#assignmentContainer.ajr-list .household .allComments .ministeringComment author {
  font-size: 12px;
  font-style: italic;
}
