* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker-close {
  position: absolute;
  left: 0;
  top: 0px;
  background: red;
  height: 100%;
  width: 45px;
  z-index: 100;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

#assignmentFeedbackModal.approved .modal-header {
  background-color: #38c172;
}
#assignmentFeedbackModal.approved .modal-header .modal-title {
  color: #ffffff;
}
#assignmentFeedbackModal.approved #assignStatus {
  color: #38c172;
}
#assignmentFeedbackModal.rejected .modal-header {
  background-color: #e3342f;
}
#assignmentFeedbackModal.rejected .modal-header .modal-title {
  color: #ffffff;
}
#assignmentFeedbackModal.rejected #assignStatus {
  color: #e3342f;
}
#assignmentFeedbackModal #feedbackHousehold {
  margin-bottom: 15px;
}
#assignmentFeedbackModal #aFeedbackContainer {
  width: 100%;
  margin: 10px auto;
}
#assignmentFeedbackModal #aFeedbackContainer .houseComment {
  margin-bottom: 20px;
}
#assignmentFeedbackModal #aFeedbackContainer .houseComment author {
  font-size: 12px;
  font-style: italic;
}
#assignmentFeedbackModal #aFeedbackContainer .houseComment .commentBody {
  margin-top: 10px;
  border-left: 6px solid #E7EAF0;
  padding-left: 10px;
}

#companionships,
#companionshipsTable {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#companionships .companionship,
#companionshipsTable .companionship {
  width: 33%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b5b5b5;
}
#companionships .companionship .individuals,
#companionshipsTable .companionship .individuals {
  width: 100%;
  padding-right: 20px;
  margin-bottom: 10px;
}
#companionships .companionship .individuals h4,
#companionshipsTable .companionship .individuals h4 {
  color: #b5b5b5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#companionships .companionship .individuals .individual,
#companionshipsTable .companionship .individuals .individual {
  font-size: 20px;
  font-weight: bold;
}
#companionships .companionship .assignments,
#companionshipsTable .companionship .assignments {
  margin-bottom: 20px;
  width: 100%;
}
#companionships .companionship .assignments .household,
#companionshipsTable .companionship .assignments .household {
  padding-left: 20px;
}

#companionshipsTable .companionship .assignments .household {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 4px;
}
#companionshipsTable .companionship .assignments .household .status-circle {
  margin-right: 10px;
}

#assignedToVisitContainer .status-circle {
  display: none;
}

#activeCompanionship {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}
#activeCompanionship #ministeringInfo {
  margin-top: 20px;
}
#activeCompanionship #ministeringInfo .removeVisiting {
  font-size: 14px;
}
#activeCompanionship #companionshipComments .nav-tabs .nav-item {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}
#activeCompanionship #companionshipComments .nav-tabs .nav-item .nav-link {
  width: 100%;
  padding: 0.5rem;
}
#activeCompanionship #companionshipComments .nav-tabs .nav-item .nav-link.active {
  background-color: #666;
  color: #fff;
}
#activeCompanionship #companionshipComments #view {
  padding-top: 10px;
}
#activeCompanionship #companionshipComments #view #commentsContainer {
  height: 150px;
  overflow: auto;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
#activeCompanionship #companionshipComments #view #commentsContainer .houseComment {
  margin-bottom: 20px;
}
#activeCompanionship #companionshipComments #view #commentsContainer .houseComment author {
  font-size: 12px;
  font-style: italic;
}
#activeCompanionship #companionshipComments #view #commentsContainer .houseComment .commentBody {
  margin-top: 10px;
  border-left: 6px solid #E7EAF0;
  padding-left: 10px;
}

#assignHouseholdContainer {
  width: 100%;
  margin: 10px 0 5px;
}
#assignHouseholdContainer .removeAssigned {
  margin-left: 5px;
}

#activeClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.bi-x-circle {
  cursor: pointer;
}

.removeAssigned {
  margin-left: 5px;
}

@media (max-width: 767px) {
  #activeHousehold {
    grid-template-columns: 100%;
    grid-gap: 5px;
  }
  #activeHousehold > div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #activeHousehold #companionshipInfo {
    order: 1;
    display: flex;
    align-items: baseline;
  }
  #activeHousehold #companionshipInfo > * {
    margin-right: 10px;
  }
  #activeHousehold #assignHouseholdContainer {
    margin-bottom: 0;
    margin-top: 0;
  }
  #activeHousehold #ministeringInfo {
    order: 2;
  }
  #activeHousehold #householdComments {
    order: 3;
  }
}
