* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker-close {
  position: absolute;
  left: 0;
  top: 0px;
  background: red;
  height: 100%;
  width: 45px;
  z-index: 100;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

#assignmentFeedbackModal.approved .modal-header {
  background-color: #38c172;
}
#assignmentFeedbackModal.approved .modal-header .modal-title {
  color: #ffffff;
}
#assignmentFeedbackModal.approved #assignStatus {
  color: #38c172;
}
#assignmentFeedbackModal.rejected .modal-header {
  background-color: #e3342f;
}
#assignmentFeedbackModal.rejected .modal-header .modal-title {
  color: #ffffff;
}
#assignmentFeedbackModal.rejected #assignStatus {
  color: #e3342f;
}
#assignmentFeedbackModal #feedbackHousehold {
  margin-bottom: 15px;
}
#assignmentFeedbackModal #aFeedbackContainer {
  width: 100%;
  margin: 10px auto;
}
#assignmentFeedbackModal #aFeedbackContainer .houseComment {
  margin-bottom: 20px;
}
#assignmentFeedbackModal #aFeedbackContainer .houseComment author {
  font-size: 12px;
  font-style: italic;
}
#assignmentFeedbackModal #aFeedbackContainer .houseComment .commentBody {
  margin-top: 10px;
  border-left: 6px solid #E7EAF0;
  padding-left: 10px;
}

#households {
  flex-wrap: wrap;
}
#households .household {
  width: 100%;
}
#households .household .individual {
  margin-left: 20px;
}
#households .household .assignedStatus {
  text-align: center;
}
#households .household .assignedStatus .assignmentComments {
  background-color: unset;
}
#households .household .assignedStatus i.bi-chat-right-fill {
  width: auto;
  margin-top: 8px;
  margin-top: 0;
  margin-left: 10px;
}
#households .household .assignedStatus i.bi-chat-right-fill .count {
  align-self: center;
  margin-top: -18px;
  margin-right: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: 16px;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  top: 13px;
  right: 1.15em;
}

#activeHousehold {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr;
  grid-gap: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}
#activeHousehold #assignedToVisitContainer .minToHouse {
  margin-bottom: 5px;
}
#activeHousehold #assignedToVisitContainer .removeAssigned {
  margin-left: 10px;
}
#activeHousehold #ministeringInfo h3 {
  margin-bottom: 10px;
}
#activeHousehold #ministeringInfo .removeVisiting {
  font-size: 14px;
}
#activeHousehold #householdComments .nav-tabs .nav-item {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}
#activeHousehold #householdComments .nav-tabs .nav-item .nav-link {
  width: 100%;
  padding: 0.5rem;
}
#activeHousehold #householdComments .nav-tabs .nav-item .nav-link.active {
  background-color: #666;
  color: #fff;
}
#activeHousehold #householdComments #view {
  padding-top: 10px;
}
#activeHousehold #householdComments #view #commentsContainer {
  height: 150px;
  overflow: auto;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
#activeHousehold #householdComments #view #commentsContainer .houseComment {
  margin-bottom: 20px;
}
#activeHousehold #householdComments #view #commentsContainer .houseComment author {
  font-size: 12px;
  font-style: italic;
}
#activeHousehold #householdComments #view #commentsContainer .houseComment .commentBody {
  margin-top: 10px;
  border-left: 6px solid #E7EAF0;
  padding-left: 10px;
}

#allHouseholdsTable tr.community .color {
  background-color: #5325be;
  width: 3px;
  color: #fff;
}
#allHouseholdsTable tr.approval .color {
  background-color: #25be32;
  width: 3px;
  color: #000;
}
#allHouseholdsTable tr.single-man .color {
  background-color: #5c7dca;
  width: 3px;
  color: #fff;
}
#allHouseholdsTable tr.single-woman .color {
  background-color: #Ca5cca;
  width: 3px;
  color: #000;
}

#assignHouseholdContainer {
  width: 100%;
  margin: 10px 0 5px;
}
#assignHouseholdContainer .removeAssigned {
  margin-left: 5px;
}

#activeClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.bi-x-circle {
  cursor: pointer;
}

@media (max-width: 767px) {
  #activeHousehold {
    grid-template-columns: 100%;
    grid-gap: 5px;
  }
  #activeHousehold > div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #activeHousehold #householdInfo {
    order: 1;
    display: flex;
    align-items: baseline;
  }
  #activeHousehold #householdInfo > * {
    margin-right: 10px;
  }
  #activeHousehold #assignHouseholdContainer {
    margin-bottom: 0;
    margin-top: 0;
  }
  #activeHousehold #ministeringInfo {
    order: 2;
  }
  #activeHousehold #householdComments {
    order: 3;
  }
}
