#households {
  flex-wrap: wrap;
}
#households .household {
  width: 100%;
}
#households .household .individual {
  margin-left: 20px;
}

#activeHousehold {
  display: grid;
  grid-template-columns: 2fr 3fr 6fr 7fr;
  grid-gap: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}
#activeHousehold #assignedToVisitContainer .removeAssigned {
  margin-left: 10px;
}
#activeHousehold #ministeringInfo .removeVisiting {
  font-size: 14px;
}
#activeHousehold #householdComments .nav-tabs .nav-item {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}
#activeHousehold #householdComments .nav-tabs .nav-item .nav-link {
  width: 100%;
  padding: 0.5rem;
}
#activeHousehold #householdComments .nav-tabs .nav-item .nav-link.active {
  background-color: #666;
  color: #fff;
}
#activeHousehold #householdComments #view #commentsContainer {
  height: 150px;
  overflow: auto;
}
#activeHousehold #householdComments #view #commentsContainer .houseComment {
  margin-bottom: 10px;
}
#activeHousehold #householdComments #view #commentsContainer .houseComment author {
  font-size: 12px;
  font-style: italic;
}

#allHouseholdsTable tr.community .color {
  background-color: #5325be;
  width: 3px;
  color: #fff;
}
#allHouseholdsTable tr.approval .color {
  background-color: #25be32;
  width: 3px;
  color: #000;
}
#allHouseholdsTable tr.single-man .color {
  background-color: #5c7dca;
  width: 3px;
  color: #fff;
}
#allHouseholdsTable tr.single-woman .color {
  background-color: #Ca5cca;
  width: 3px;
  color: #000;
}

#assignHouseholdContainer {
  flex-grow: 3;
}
#assignHouseholdContainer .removeAssigned {
  margin-left: 5px;
}

#activeClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.bi-x-circle {
  cursor: pointer;
}

@media (max-width: 767px) {
  #activeHousehold {
    grid-template-columns: 100%;
    grid-gap: 5px;
  }
  #activeHousehold > div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #activeHousehold #householdInfo {
    order: 1;
    display: flex;
    align-items: baseline;
  }
  #activeHousehold #householdInfo > * {
    margin-right: 10px;
  }
  #activeHousehold #assignHouseholdContainer {
    order: 2;
    margin-bottom: 0;
    margin-top: 0;
  }
  #activeHousehold #ministeringInfo {
    order: 3;
  }
  #activeHousehold #householdComments {
    order: 4;
  }
}
